@font-face {
  font-family: "Ubuntu-Light";
  src: url("../fonts/Ubuntu-Light/Ubuntu-Light.eot");
  src: url("../fonts/Ubuntu-Light/Ubuntu-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Ubuntu-Light/Ubuntu-Light.woff") format("woff"),
  url("../fonts/Ubuntu-Light/Ubuntu-Light.woff2") format("woff2"),
  url("../fonts/Ubuntu-Light/Ubuntu-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../fonts/Ubuntu-Medium/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu-Medium/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Ubuntu-Medium/Ubuntu-Medium.woff") format("woff"),
  url("../fonts/Ubuntu-Medium/Ubuntu-Medium.woff2") format("woff2"),
  url("../fonts/Ubuntu-Medium/Ubuntu-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../fonts/Ubuntu-Regular/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Ubuntu-Regular/Ubuntu-Regular.woff") format("woff"),
  url("../fonts/Ubuntu-Regular/Ubuntu-Regular.woff2") format("woff2"),
  url("../fonts/Ubuntu-Regular/Ubuntu-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Geologica-SemiBold";
  src: url("../fonts/Geologica/geologica-600.woff2") format("woff2"),
  url("../fonts/Geologica/geologica-600.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Geologica-Regular";
  src: url("../fonts/Geologica/geologica-regular.woff2") format("woff2"),
  url("../fonts/Geologica/geologica-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Geologica-Light";
  src: url("../fonts/Geologica/geologica-300.woff2") format("woff2"),
  url("../fonts/Geologica/geologica-300.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

